 <!-- Footer -->
 <div class="container">
     
 <footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
    
        <!-- Grid row-->
        <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-12 py-5">
            <div class="mb-5 flex-center ">
    
            <!-- Facebook -->
            <a class="fb-ic removeUnderline" >
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Github -->
            <a class="tw-ic removeUnderline" >
                <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic removeUnderline">
                <i class="fab fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic removeUnderline" >
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic removeUnderline" >
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            </div>
        </div>
        <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
    </div>
    <!-- Footer Elements -->
    
    <!-- Copyright -->
    <div class="rodape footer-copyright text-center py-3">Feito com 
            <i class="coracao fas fa-heart "></i><a href="https://github.com/rico2290" target="_blank"> rico22 | </a>
            © 2019 Todos os direitos
        
    </div>
    <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
    
            

 </div>