<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="favicon/icon_VN7_icon.ico" />
    <link href="estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>JobGuigui | Vagas</title>
</head>
<body>
   
    <%- include('header') %>

    <div class="container mx-4">
        <div class="vagas">
            <h2>FullStack Developer (San Francsico)</h2>
            <div class="team">
                <h3>Engineering Team</h3>
                <ul class="categoria">
                    <li><a href="vaga">FullStack Developer (San Francsico)</a><span class="spanNovo badge badge-success">Novo</span></li>
                </ul>
            </div>
            <div class="team">
                <h3>Marketing  Team</h3>
                <ul class="categoria">
                    <li><a href="vaga">Marketing Digital (Guiné-Bissau)</a><span class=" spanNovo badge badge-dark">Novo</span></li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('footer') %>

</body>
</html>