*{
    margin-top: 5px;
}

p {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

 img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.categoria a:hover{
    color: aliceblue;
    background: SlateBlue;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}



.vagas{
    margin-left: 20px;
    
}
.vagas h2{
    
    font-weight: bold;
}

.vagas ul{
    list-style: none;
}

.spanNovo{
    margin-left: 3px;
    
}


footer   {
    color:cornsilk;
    display: block;
    text-decoration: none;
    background-color:#009688;
    position: relative;
    text-align: center;
    font-size: 14px;
    width: auto;
    left: auto;
    right: auto;
    margin-top: auto;
    
} 


.rodape  {
    margin-top: 10px;
    text-decoration: none;
    background-color: #00786D;
} 

.rodape a{
    margin-top: 10px;
    text-decoration: none;
    color: ivory;
    list-style: none
} 

.coracao {
    color: crimson
}

.removeUnderline {
  cursor: pointer;
  list-style: none;
}

.vagas {
    margin-top: 40px;
    margin-left: 0;

}